<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61681064690-vcbhajcs34fiqmtkqnu1d5p188m30n98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61681064690-vcbhajcs34fiqmtkqnu1d5p188m30n98</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>61681064690-aj0ss14grtvg3se0boc9ttkdnap43jcj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAweDQYkVmSRfz3k5FsK8otB_XQPE6hOkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>61681064690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.supperapp</string>
	<key>PROJECT_ID</key>
	<string>superapp-4aec6</string>
	<key>STORAGE_BUCKET</key>
	<string>superapp-4aec6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61681064690:ios:0687fb057206a427d6ce6b</string>
</dict>
</plist>